.searchContainer {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.searchContainerHome {
  justify-content: center;
  align-items: center;
}

.searchContainerSearch {
  justify-content: flex-start;
  align-items: center;
}

#searchContainer .searchBoxLabelGreetingHome {
  font-size: 28px;
  color: #02a2f2;
  font-weight: 500;
}

@media (min-width: 871px) {
  #searchContainer .searchBox {
    display: flex;
    position: relative;
  }
  #searchContainer .searchBoxHome {
    width: 460px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #searchContainer .searchBoxSearch {
    border-bottom: 1px solid #ebebeb;
    width: 100%;
    flex: 0 0 100px;
    background-color: #fafafa;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  #searchContainer .searchBoxLabelHome {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #searchContainer .searchBoxLabelSearch {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #searchContainer .searchBoxLabelGreetingHome {
  }
  #searchContainer .searchBoxLabelGreetingSearch {
    display: none;
  }
  #searchContainer .searchBoxInputHome {
    position: relative;
    margin-top: 25px;
    width: 100%;
    margin-bottom: 50px;
  }
  #searchContainer .searchBoxInputSearch {
    position: relative;
    margin-left: 15px;
    width: 460px;
  }
  #searchContainer .searchBoxInputSearch .searchTypes {
    height: 30px;
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
  }
  #searchContainer .searchResultsHome {
    display: none;
  }
  #searchContainer .searchResultsSearch {
    width: 100%;
    flex: 1 1 auto;
  }
  #searchContainer .searchResultRow {
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px #d1d3d4;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 95px;
  }
  #searchContainer .searchScrollBox {
    position: relative;
    margin-top: -3px;
  }
  .linearProgress {
    max-height: 3px;
    top: 0px;
    position: relative;
    width: 100%;
    color: #fafafa;
  }
  .linearProgressBox {
    max-height: 3px;
    min-height: 3px;
  }

  .searchResultTableCell {
    margin-left: 80px;
  }

  #searchContainer .searchNoResults {
    margin-left: 110px;
    margin-top: 50px;
    font-size: xx-large;
    color: darkgray;
  }
}

@media (max-width: 870px) {
  #searchContainer .searchBox {
    display: flex;
    position: relative;
  }
  #searchContainer .searchBoxHome {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #searchContainer .searchBoxSearch {
    border-bottom: 1px solid #ebebeb;
    width: 100%;
    flex: 0 0 100px;
    background-color: #fafafa;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  #searchContainer .searchBoxLabelHome {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #searchContainer .searchBoxLabelSearch {
    width: 100px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #searchContainer .searchBoxLabelGreetingHome {
    width: 180px;
    line-height: 30px;
  }
  #searchContainer .searchBoxLabelGreetingSearch {
    display: none;
  }
  #searchContainer .searchBoxInputHome {
    position: relative;
    margin-top: 25px;
    width: calc(100% - 80px);
    margin-bottom: 50px;
    margin-left: -7px;
  }
  #searchContainer .searchBoxInputSearch {
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
  }
  #searchContainer .searchBoxInputSearch .searchTypes {
    height: 30px;
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
  }
  #searchContainer .searchResultsHome {
    display: none;
  }
  #searchContainer .searchResultsSearch {
    width: 100%;
    flex: 1 1 auto;
  }
  #searchContainer .searchResultRow {
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px #d1d3d4;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 15px;
  }
  .linearProgress {
    max-height: 3px;
    top: 0px;
    position: relative;
    width: 100%;
    color: #fafafa;
  }
  .linearProgressBox {
    max-height: 3px;
    min-height: 3px;
  }

  #searchContainer .searchNoResults {
    margin-left: 20vw;
    margin-top: 50px;
    font-size: xx-large;
    color: darkgray;
  }
}

@media (max-width: 470px) {
  #searchContainer .searchBoxSearch .searchBoxLabelHome {
    display: none;
  }
}

#searchPlaceHolder.hidden {
  display: none;
}

#searchInputText {
  width: 100%;
  height: 30px;
  background-color: white;
  font-size: 15px;
  padding-left: 7px;
  text-transform: uppercase;
}

#searchInputText::placeholder {
  height: 20px;
  overflow: visible;
  pointer-events: none;
  color: #737373;
  font-size: 15px;
  text-transform: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

iron-list {
  height: 100%;
}

.searchResultRow div.resultrowline {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.searchResultRow div.resultrowlinedesc {
  width: 100px;
}

.searchContainerHome paper-progress {
  display: none;
}

.searchResultRowCell {
  font-size: 16px;
}

.searchResultRowCell td {
  padding: 5px;
  min-width: 110px;
}
