.entityToolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #fafafa;
    border-bottom: 1px solid #d1d1d1;
    width: 100%;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06), 0 2px 0 rgba(0, 0, 0, 0.075), 0 3px 0 rgba(0, 0, 0, 0.05), 0 4px 0 rgba(0, 0, 0, 0.015);
    flex: 0 1 auto;
    z-index: 200;
}

.entityToolbarContent {
    display: flex;
    align-items: center;
    height: 50px;
}

@media (max-width: 450px) {
    .screen-code {
        display: none;
    }
}

@media (max-width: 300px) {
    .save-label {
        display: none;
    }
}
