.entityToolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: #fafafa;
  border-bottom: 1px solid #d1d1d1;
  width: 100%;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06), 0 2px 0 rgba(0, 0, 0, 0.075), 0 3px 0 rgba(0, 0, 0, 0.05), 0 4px 0 rgba(0, 0, 0, 0.015);
  flex: 0 1 auto;
  z-index: 200;
}

.entityToolbarContent {
  display: flex;
  align-items: center;
  height: 50px;
}

.verticalLineStyle {
  height: 25px;
  border-right: 1px solid gray;
  margin: 5px;
}

.entityCodeStyle {
  margin-left: 12px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.iconMenuStyle {
  margin-right: 5px;
  width: 20px;
}

.screen-code-constant {
  margin-right: 5px;
  color: #ccc;
  font-weight: lighter;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
}

@media (max-width: 450px) {
  .screen-code-max-width {
    display: none;
  }
}

@media (max-width: 300px) {
  .save-label {
    display: none;
  }
}
