.activity .label {
    font-weight: bold;
}

.activity .activityDetails {
    margin-bottom: 20px;
}

.activity h3 {
    margin-top: 0px;
}

.activity h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.activity .divider {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.42);
}
