.activity {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #fafafa;
    border: none;
}

.activity .label {
    font-weight: bold;
}

.activity .activityHeader, .activity .activityDetails {
    padding: 0 10px;
}

.activity h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.activity .estmtd {
    font-style: italic;
}

.activity .activityDetailsTile {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
}
