.activity {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.activity .label {
    font-weight: bold;
}

.activity .content {
    margin-left: 15px;
    margin-right: 15px;
}

.activity .activityDetails {
    margin-bottom: 20px;
}

.activity h3 {
    margin-top: 0px;
}

.activity h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.activity .divider {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.42);
}
