<IfModule mod_rewrite.c>
        Options +FollowSymLinks
        IndexIgnore */*
        RewriteEngine On
        Redirect "/SSO/eamlight/workorder.xhtml" "/SSO/eamlight/workorder"
        Redirect "/SSO/eamlight/part.xhtml" "/SSO/eamlight/part"
        Redirect "/SSO/eamlight/asset.xhtml" "/SSO/eamlight/asset"
        Redirect "/SSO/eamlight/position.xhtml" "/SSO/eamlight/position"
        Redirect "/SSO/eamlight/system.xhtml" "/SSO/eamlight/system"
        Redirect "/SSO/eamlight/equipment.xhtml" "/SSO/eamlight/equipment"
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteRule (.*) index.html
</IfModule>
<FilesMatch "\.(html|htm)$">
    <IfModule mod_expires.c>
        ExpiresActive Off
    </IfModule>
    <IfModule mod_headers.c>
        FileETag None
        Header unset ETag
        Header unset Pragma
        Header unset Cache-Control
        Header unset Last-Modified
        Header set Pragma "no-cache"
        Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
        Header set Expires "Thu, 1 Jan 1970 00:00:00 GMT"
    </IfModule>
</FilesMatch>
