.treeSearchPanel{
  padding: 10px;
  padding-bottom: 20px;
}

.treeSearchNavigationPanel {
  display: inline-block;
}

.treeSearchNavigationComponent {
  display: inline-block;
}

.treeSearchNavigationMessage {
  color: rgba(0, 0, 0, .5);
  font-size: small;
}