.responsiveTable td, .responsiveTable th {
    padding: 4px !important;
    min-width: 50px;
    text-align: left;
}

.eamTableDropdown {
    background-color: transparent;
    width: 100%;
    font-size: 13px !important;
}

.eamTableDropdown select:focus {
    background-color: transparent !important;
}
