.EmptyBox20 {
    display: block;
    width: 100%;
    height: 20px;
    overflow: hidden;
}

.EmptyBox10 {
    display: block;
    width: 100%;
    height: 10px;
    overflow: hidden;
}

.entityContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: #eeeeee;
}

.entityMain {
    height: calc(100% - 109px);
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #eeeeee;
    display: flex;
    -webkit-overflow-scrolling: touch;
}

a {
    color: #2196F3;
}

.gutter.gutter-horizontal {
    background-image: url("/images/vertical.png");
    cursor: ew-resize;
}

.gutter {
    height: 100%;
    float: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: 50%;
}