.rowWrapper {
  padding: 10px 10px 10px 0;
  height: 100%;
  box-sizing: border-box;
  cursor: move;
  margin-left: -5px; }
  .rowWrapper:hover {
    opacity: 0.7; }
  .rowWrapper:active {
    opacity: 1; }

.rowWrapperDragDisabled {
  cursor: default; }
  .rowWrapperDragDisabled:hover {
    opacity: 1; }

.row {
  height: 100%;
  white-space: nowrap;
  display: flex; }
  .row > * {
    box-sizing: border-box; }

/**
 * The outline of where the element will go if dropped, displayed while dragging
 */
.rowLandingPad, .rowCancelPad {
  border: none !important;
  box-shadow: none !important;
  outline: none !important; }
  .rowLandingPad *, .rowCancelPad * {
    opacity: 0 !important; }
  .rowLandingPad::before, .rowCancelPad::before {
    background-color: lightblue;
    border: 3px dashed white;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; }

/**
 * Alternate appearance of the landing pad when the dragged location is invalid
 */
.rowCancelPad::before {
  background-color: #e6a8ad; }

/**
 * Nodes matching the search conditions are highlighted
 */
.rowSearchMatch {
  outline: solid 3px #0080ff; }

/**
 * The node that matches the search conditions and is currently focused
 */
.rowSearchFocus {
  outline: solid 3px #fc6421; }

.rowContents, .rowLabel, .rowToolbar, .moveHandle, .loadingHandle, .toolbarButton {
  display: inline-block;
  vertical-align: middle; }

.rowContents {
  padding: 0 5px 0 10px;
  display: flex;
  align-items: center; }

.rowLabel {
  flex: 0 1 auto;
  padding-right: 20px; }
  .rowLabel:hover {
    cursor: pointer;
    background-color: #D3D3D3; }

.rowToolbar {
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center; }

.moveHandle, .loadingHandle {
  height: 100%;
  width: 44px;
  background: #d9d9d9 url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MiIgaGVpZ2h0PSI0MiI+PGcgc3Ryb2tlPSIjRkZGIiBzdHJva2Utd2lkdGg9IjIuOSIgPjxwYXRoIGQ9Ik0xNCAxNS43aDE0LjQiLz48cGF0aCBkPSJNMTQgMjEuNGgxNC40Ii8+PHBhdGggZD0iTTE0IDI3LjFoMTQuNCIvPjwvZz4KPC9zdmc+") no-repeat center;
  border: solid #aaa 1px;
  box-shadow: 0 2px 2px -2px;
  cursor: move;
  border-radius: 1px;
  z-index: 1; }

.loadingHandle {
  cursor: default;
  background: #d9d9d9; }

@keyframes pointFade {
  0%,
  19.999%,
  100% {
    opacity: 0; }
  20% {
    opacity: 1; } }

.loadingCircle {
  width: 80%;
  height: 80%;
  margin: 10%;
  position: relative; }

.loadingCirclePoint {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }
  .loadingCirclePoint:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 11%;
    height: 30%;
    background-color: #fff;
    border-radius: 30%;
    animation: pointFade 800ms infinite ease-in-out both; }
  .loadingCirclePoint:nth-of-type(1) {
    transform: rotate(0deg); }
  .loadingCirclePoint:nth-of-type(7) {
    transform: rotate(180deg); }
  .loadingCirclePoint:nth-of-type(1):before, .loadingCirclePoint:nth-of-type(7):before {
    animation-delay: -800ms; }
  .loadingCirclePoint:nth-of-type(2) {
    transform: rotate(30deg); }
  .loadingCirclePoint:nth-of-type(8) {
    transform: rotate(210deg); }
  .loadingCirclePoint:nth-of-type(2):before, .loadingCirclePoint:nth-of-type(8):before {
    animation-delay: -666.66667ms; }
  .loadingCirclePoint:nth-of-type(3) {
    transform: rotate(60deg); }
  .loadingCirclePoint:nth-of-type(9) {
    transform: rotate(240deg); }
  .loadingCirclePoint:nth-of-type(3):before, .loadingCirclePoint:nth-of-type(9):before {
    animation-delay: -533.33333ms; }
  .loadingCirclePoint:nth-of-type(4) {
    transform: rotate(90deg); }
  .loadingCirclePoint:nth-of-type(10) {
    transform: rotate(270deg); }
  .loadingCirclePoint:nth-of-type(4):before, .loadingCirclePoint:nth-of-type(10):before {
    animation-delay: -400ms; }
  .loadingCirclePoint:nth-of-type(5) {
    transform: rotate(120deg); }
  .loadingCirclePoint:nth-of-type(11) {
    transform: rotate(300deg); }
  .loadingCirclePoint:nth-of-type(5):before, .loadingCirclePoint:nth-of-type(11):before {
    animation-delay: -266.66667ms; }
  .loadingCirclePoint:nth-of-type(6) {
    transform: rotate(150deg); }
  .loadingCirclePoint:nth-of-type(12) {
    transform: rotate(330deg); }
  .loadingCirclePoint:nth-of-type(6):before, .loadingCirclePoint:nth-of-type(12):before {
    animation-delay: -133.33333ms; }
  .loadingCirclePoint:nth-of-type(7) {
    transform: rotate(180deg); }
  .loadingCirclePoint:nth-of-type(13) {
    transform: rotate(360deg); }
  .loadingCirclePoint:nth-of-type(7):before, .loadingCirclePoint:nth-of-type(13):before {
    animation-delay: 0ms; }

.rowTitle {
  font-weight: bold; }

.rowTitleWithSubtitle {
  font-size: 85%;
  display: block;
  height: 0.8rem; }

.rowSubtitle {
  font-size: 85%;
  line-height: 1;
  font-style: italic; }

.collapseButton,
.expandButton {
  appearance: none;
  border: none;
  position: absolute;
  border-radius: 100%;
  box-shadow: 0 0 0 1px #BDBDBD;
  width: 16px;
  height: 16px;
  padding: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer; }
  .collapseButton:focus,
  .expandButton:focus {
    outline: none;
    box-shadow: 0 0 0 1px #000, 0 0 1px 3px #83bef9; }
  .collapseButton:hover:not(:active),
  .expandButton:hover:not(:active) {
    background-color: #D3D3D3; }

.collapseButton {
  background: #fff url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PGNpcmNsZSBjeD0iOSIgY3k9IjkiIHI9IjgiIGZpbGw9IiNGRkYiLz48ZyBzdHJva2U9IiM5ODk4OTgiIHN0cm9rZS13aWR0aD0iMS45IiA+PHBhdGggZD0iTTQuNSA5aDkiLz48L2c+Cjwvc3ZnPg==") no-repeat center; }

.expandButton {
  background: #fff url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PGNpcmNsZSBjeD0iOSIgY3k9IjkiIHI9IjgiIGZpbGw9IiNGRkYiLz48ZyBzdHJva2U9IiM5ODk4OTgiIHN0cm9rZS13aWR0aD0iMS45IiA+PHBhdGggZD0iTTQuNSA5aDkiLz48cGF0aCBkPSJNOSA0LjV2OSIvPjwvZz4KPC9zdmc+") no-repeat center; }

/**
 * Line for under a node with children
 */
.lineChildren {
  height: 100%;
  display: inline-block;
  position: absolute; }
  .lineChildren::after {
    content: '';
    position: absolute;
    background-color: #BDBDBD;
    width: 1px;
    left: 0;
    bottom: 0;
    height: 4px;
    margin-left: -10px; }

/**
 * The node that has been selected
 */
.rowSelected {
  background: #E3F2FD;
  height: 20px;
  border-radius: 5px;
  margin-top: -7px; }

/**
 * Class for main tree div
 */
.sortableTree {
  height: 100%; }
  .sortableTree > div > div > div {
    margin-top: 20px; }

/*# sourceMappingURL=node-content-renderer.css.map */