.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.iconAndHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px
}

.container Button {
    max-width: 200px;
}

